.erlang.mk/
.eunit
erl_crash.dump
*.beam
deps/
ebin/*.app
erlang.mk
.plt
src/dialyzer.out
.dht.plt
src/dialyze.out
test/.eqc-info
test/current_counterexample.eqc
_build
.rebar
doc/*.html
doc/*.css
doc/*.png
doc/edoc-info
current_counterexample.eqc
.eqc-info
_rel
relx
treehouse.d
sloth.d
